body {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.all-header {
  display: flex;
  /* ブロックを均等に配置することで左右に配置 */
  justify-content: space-between;

  font-weight: bold;
  font-size: 40px;

  /* 幅を指定することで余白を作らせる */
  /* marginautoすることで余白を左右に均等にふる */
  max-width: 900px;
  margin: 0px auto;
}

.about-works {
  display: flex;
  justify-content: flex-end;
  /* contentの幅を端まで広げることで端に寄せれた */

}

#myprofile {
  border: solid 1px black;
  padding: 2px 15px;
}

#header-about {
  position: relative;
  right: 20px;
}

#camera-img {
  width: 100%;
  height: auto;
}



#main-about {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 50px 0px;
}

.main-shousai {
  display: flex;
  /* justify-content: space-between; */

  max-width: 900px;
  margin: 0px auto;
}

#human {
  /* width: 100%; */
  /* height: auto; */

  margin-right: 100px;

  /* 画像を円形にする */
  border-radius: 50%;
}

#name {
  font-weight: bold;
  font-size: 25px;
}

.shousai {
  margin-left: 40px;
}


#main-works {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 50px 0px;
}

.main-works {
  display: flex;
  justify-content: center;
}

.main-works img{
  width: 250px;
  height: auto;

  margin: 0px 10px;
}
